@import './../styles/stylesheet.scss';

.gridContainer {
    min-height: 100%;
    background-color: $bg;
    min-height: 100%;
    padding: 5rem 2rem 1rem 2rem;
    display: grid;
    grid-template-columns: 45% 55%;

    &__logo{
        height: 35vmin;
    }

    &__createAcc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__header{
            font-family: $Title;
            color: $main-blue;
            font-size: 8vmin;
        }

        &__form{
            font-family: $Body_Text;
            width: 50%;
            display: flex;
            flex-direction: column;
        }
    }
}