@import './../styles/stylesheet.scss';

.gridContainer {
    height: 100vh;
    background-color: $bg;
    min-height: 100%;
    padding: 0rem 2rem 1rem 2rem;
    display: grid;
    grid-template-columns: 30% 70%;

    &__logo{
        margin-top: 55%;
        margin-left: 25%;
        height: 35vmin;
    }

    &__createAcc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__header{
            font-family: $Title;
            color: $main-blue;
            font-size: 8vmin;
            margin-bottom: 0;
        }

        &__form{
            margin-top: 8px;
            display: flex;
            flex-direction: column;
            align-items: center;
            &__input{
                text-align: start;
                width: 20rem;
                font-family: $Body_Text;
                font-size: 1.2rem;
                color: $light-grey;
                padding: 10px;
                margin: 12px 12px;
                border-radius: $buttonRadius;
                border: 1.5px solid $light-grey;
            }

            &__button{
                margin-top: 20px;
                width: 14rem;
                padding: 10px 10px;
                text-align: center;
                text-decoration: none;
                background-color: $secondary-blue;
                border-radius: $buttonRadius;
                font-family: $Header;
                font-size: 1.5rem;
                color: white;
                border: 0;
            }
        }
    }
}